:root { --custom-block-note-bg: #6fb7ff1f; }
.dark { --custom-block-note-bg: #193c47; }
.vp-doc blockquote { padding: 0.8rem 1rem; border-left: 4px solid var(--vp-c-divider); background-color: var(--vp-c-bg-alt); }
.custom-block { border-radius: 1rem; &-title { font-size: 16px; margin-bottom: 8px !important; } }
.custom-block.info, .custom-block.note { background-color: var(--custom-block-note-bg); }
